.mat-elevation-z8 {
  width: 85%;
}
.mat-column-id{
  width: 5em;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}
.mat-column-nome{
  width: 30%;
}
.mat-column-categoria{
  text-align: center;
  min-width: 2em;
}
.mat-column-preco{
  text-align: center;
  min-width: 2em;
}
.mat-column-acao{
  text-align: center;
  min-width: 10em;
}
