<mat-toolbar color="warn">
  <div class="flex-container">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon fontIcon="list"></mat-icon>
    </button>
    <img src="../../../assets/logo.png" id="logo" alt="Logo">
    <span class="toolbar-title">Cupons</span>
    <button mat-fab class="btn" color="accent" (click)="dialog.open(DialogCupomComponent, {
      width: '350px'})">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <a mat-button href="http://localhost:4200/usuario"><mat-icon>people_outline</mat-icon>Usuários</a>
    <a mat-button href="http://localhost:4200/contas-cliente"><mat-icon>people</mat-icon>Clientes</a>
    <a mat-button href="http://localhost:4200/contas-funcionario"><mat-icon>people</mat-icon>Colaboradores</a>
    <a mat-button href="http://localhost:4200/cupons"><mat-icon> local_atm</mat-icon>Cupons</a>
    <a mat-button href="http://localhost:4200/pizza"><mat-icon> local_pizza</mat-icon>Pizzas</a>
    <a mat-button href="http://localhost:4200/bebida"><mat-icon> local_bar</mat-icon>Bebidas</a>
    <a mat-button href="http://localhost:4200/ingrediente"><mat-icon> restaurant_menu</mat-icon>Ingredientes</a>
    <button mat-fab class="btn" id="btn-logout" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-drawer>

  <table mat-table [dataSource]="cupons" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Codigo Column -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
    </ng-container>

    <!-- Desconto Column -->
    <ng-container matColumnDef="desconto">
      <th mat-header-cell *matHeaderCellDef> Desconto </th>
      <td mat-cell *matCellDef="let element"> {{element.desconto}}% </td>
    </ng-container>

    <!-- Acao Column -->
    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="dialog.open(DialogCupomComponent, {width: '350px', data: element})">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="dialog.open(DialogDeleteComponent, {data: element.id})">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-drawer-container>
