:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

form {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.mat-form-field input {
  background-color: black;
  color: white;
}

#card {
  background-color: #1e1d1d;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  height: 235px;
}

mat-card-title,
mat-card-content {
  display: flex;
  align-items: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

#cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Zeyada", cursive;
  font-size: 25px;
}

.flex-container {
  color: white;
  width: 400px;
}

#btn-entrar {
  width: 97%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
