<div id="header">
  <a href="http://localhost:4200/home"><img src="assets/logo.png" id="logo" alt="Logo"></a>
  <div id="buttons">
    <a [href]="isHomePage() ? '#' : 'http://localhost:4200/home'">HOME</a>
    <a *ngIf="isHomePage(); else scrollToCardapio" (click)="scrollToSection('cardapio')">CARDÁPIO</a>
    <ng-template #scrollToCardapio>
      <a (click)="navigateToHomePage()">CARDÁPIO</a>
    </ng-template>
    <a *ngIf="isHomePage(); else scrollToSobre" (click)="scrollToSection('sobre')">SOBRE</a>
    <ng-template #scrollToSobre>
      <a (click)="navigateToHomePage()">SOBRE</a>
    </ng-template>
    <ng-container *ngIf="!usuarioLogado; else loggedInTemplate">
      <a (click)="router.navigateByUrl('/login')">
        <mat-icon>account_circle</mat-icon>Login/Cadastro
      </a>
    </ng-container>
    <ng-template #loggedInTemplate>
      <a [matMenuTriggerFor]="menu">
        <img class="img-account" ngSrc="http://localhost:8080/usuario/image/{{usuarioLogado?.nomeImagem}}" width="32" height="32" alt="">
        <span>{{usuarioLogado?.nome}}</span>
      </a>
      <mat-menu #menu="matMenu" xPosition="before" class="mat-menu-panel">
        <button mat-menu-item (click)="router.navigateByUrl('/minha-conta')"><mat-icon>person</mat-icon>Minha Conta</button>
        <button mat-menu-item (click)="router.navigateByUrl('/minha-conta')"><mat-icon>description</mat-icon>Meus Pedidos</button>
        <button mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>Sair</button>
      </mat-menu>
    </ng-template>
  </div>
  <button mat-icon-button id="btn-sacola" (click)="router.navigateByUrl('/sacola')">
    <mat-icon id="sacola" [matBadge]="qtdItensCarrinho"  matBadgeColor="accent" matBadgePosition="after" matBadgeOverlap="false">local_mall</mat-icon>
  </button>
</div>
