app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 1000;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  margin-top: 120px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1300px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 36px;
  font-weight: 500;
  color: #333;
}

.form-section {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.profile-form {
  flex: 1;
  margin-right: 20px;
}

.profile-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.profile-form input {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.edit-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.addresses {
  flex: 1;
}

.addresses h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.address-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.address-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.address-details {
  margin-top: 20px;
}

.address-details label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.address-details input,
.address-details select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #ad3131;
}

.addresses-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.btn-add-address {
  background-color: #1c6909;
  color: white;
}

.btn-edit-img {
  width: 26px;
  height: 27px;
  min-width: 26px;
}

.btn-edit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: white;
}

.mat-expansion-panel {
  background-color: #ffffff;
}

.text-panel {
  color: #1e1d1d;
}

.expansion-panel {
  position: relative;
  margin-bottom: 5px;
}

.expansion-panel label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.expansion-panel input {
  width: 160px;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 10px;
}

.buttons-panel {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}
