<div id="background">
  <app-header></app-header>
  <div class="container">
    <header>
      <div id="img-perfil">
        <img ngSrc="http://localhost:8080/usuario/image/{{usuarioLogado?.nomeImagem}}" width="64" height="64" alt="">
        <button mat-mini-fab class="btn-add-address btn-edit-img">
          <mat-icon class="btn-edit-icon">edit</mat-icon>
        </button>
      </div>
      <h1>Meus Dados</h1>
    </header>
    <div class="form-section">
      <ng-container *ngIf="form | async as form; else loading">
        <form class="profile-form" [formGroup]="form">
          <table>
            <tr>
              <td>
                <label>Nome</label>
                <input matInput type="text" formControlName="nome">
              </td>
              <td>
                <label>CPF</label>
                <input matInput [disabled]="true" type="text" formControlName="cpf">
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td>
                <label>Email</label>
                <input type="email" formControlName="email">
              </td>
              <td>
                <label>Senha</label>
                <div class="password-container">
                  <input matInput disabled type="password" id="senha" value="*********">
                  <mat-icon (click)="dialog.open(DialogChangePasswordComponent, {width: '350px'})" class="edit-icon">edit</mat-icon>
                </div>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td>
                <label>Telefone</label>
                <input type="tel" formControlName="telefone">
              </td>
              <td>
                <label>Data de Nascimento</label>
                <input type="date" formControlName="nascimento" placeholder="dd/MM/yyyy">
              </td>
            </tr>
          </table>
        </form>
      </ng-container>
      <ng-template #loading>Carregando...</ng-template>
      <div class="addresses">
        <div class="addresses-title">
          <h2>Endereços</h2>
          <button mat-fab class="btn-add-address" (click)="addAddress()">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <ng-container *ngFor="let address of addresses; let i = index">
          <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title class="text-panel">
                <mat-icon>place</mat-icon>{{ address.logradouro }}
              </mat-panel-title>
              <mat-panel-description class="text-panel">
                {{address.bairro}} {{address.cidade}} {{address.cep}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table>
              <tr>
                <td>
                  <label class="text-panel">Logradouro</label>
                  <input matInput [(ngModel)]="address.logradouro" type="text">
                </td>
                <td>
                  <label class="text-panel">Bairro/Setor</label>
                  <input matInput [(ngModel)]="address.bairro" type="text">
                </td>
              </tr>
            </table>
            <table>
              <tr>
                <td>
                  <label class="text-panel">Cidade</label>
                  <input matInput [(ngModel)]="address.cidade" type="text">
                </td>
                <td>
                  <label class="text-panel">CEP</label>
                  <input matInput [(ngModel)]="address.cep" type="text">
                </td>
              </tr>
            </table>
            <div class="buttons-panel">
              <button mat-icon-button (click)="removeAddress(i)">
                <mat-icon color="warn">delete</mat-icon>
              </button>
              <button mat-raised-button (click)="saveAddress(i)">
                Salvar
              </button>
            </div>
          </mat-expansion-panel>
        </ng-container>
      </div>
    </div>

    <button class="submit-btn">Alterar</button>
  </div>
</div>
