<table [dataSource]="pizzas" class="mat-elevation-z8" mat-table>
  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell> Id</th>
    <td *matCellDef="let element" mat-cell> {{ element.id }}</td>
  </ng-container>
  <ng-container matColumnDef="nome">
    <th *matHeaderCellDef mat-header-cell> Nome</th>
    <td *matCellDef="let element" mat-cell> {{ element.nome }}</td>
  </ng-container>
  <ng-container matColumnDef="descricao">
    <th *matHeaderCellDef mat-header-cell> Descrição</th>
    <td *matCellDef="let element" mat-cell> {{ element.descricao }}</td>
  </ng-container>
  <ng-container matColumnDef="kCal">
    <th *matHeaderCellDef mat-header-cell> Calorias</th>
    <td *matCellDef="let element" mat-cell> {{ element.kCal }} kCal</td>
  </ng-container>
  <ng-container matColumnDef="quantPorcoes">
    <th *matHeaderCellDef mat-header-cell> Quant. Porções</th>
    <td *matCellDef="let element" mat-cell> {{ element.quantPorcoes }}</td>
  </ng-container>
  <ng-container matColumnDef="preco">
    <th *matHeaderCellDef mat-header-cell> Preço</th>
    <td *matCellDef="let element" mat-cell> R${{ element.preco.toFixed(2) }}</td>
  </ng-container>
  <ng-container matColumnDef="tamanhoPizza">
    <th *matHeaderCellDef mat-header-cell> Tamanho</th>
    <td *matCellDef="let element" mat-cell> {{ element.tamanhoPizza }}</td>
  </ng-container>
  <ng-container matColumnDef="imagem">
    <th *matHeaderCellDef mat-header-cell> Imagem</th>
    <td *matCellDef="let element" mat-cell>
      <button
        (click)="dialog.open(ImageDialogComponent, {data: '//localhost:8080/produto/image/' + element.nomeImagem, maxWidth: '80vw', maxHeight: '80vh', height: '80%', width: '80%',})"
        color="secundary" mat-icon-button>
        <mat-icon>image_search</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="acao">
    <th *matHeaderCellDef mat-header-cell> Ação</th>
    <td *matCellDef="let element" mat-cell>
      <button (click)="dialog.open(PizzaDialogComponent, {data: element, width: '450px',height: '500px'})"
              color="primary"
              mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="dialog.open(DialogDeleteComponent, {data: element.id})" color="warn" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="dialog.open(ImagemUploadDialogComponent, {data: element.id, width: '330px',height: '400px'})"
              color="secundary"
              mat-icon-button>
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
