<div id="header">
  <a href="http://localhost:4200/home"><img src="assets/logo.png" id="logo" alt="Logo"></a>
  <div id="buttons">
    <a href="http://localhost:4200/home">HOME</a>
    <a href="#">CARDÁPIO</a>
    <a href="#">SOBRE</a>
    <a href="http://localhost:4200/login">
      <mat-icon id="icon-person">account_circle</mat-icon>{{clienteLogado}}
    </a>
  </div>
  <button mat-icon-button id="btn-carrinho">
    <mat-icon>shopping_cart</mat-icon>
    <span id="cart-text">Carrinho</span>
  </button>
</div>
