<table [dataSource]="sacolaService.getSacola()" mat-table>
  <ng-container matColumnDef="nome">
    <th *matHeaderCellDef mat-header-cell> Nome</th>
    <td *matCellDef="let element"
        mat-cell> {{ element.produto.nome }} {{ isPizza(element.produto) ? formatTamanhoPizza(element.produto.tamanhoPizza) : formatarMl(element.produto.ml) }}
    </td>
  </ng-container>
  <ng-container matColumnDef="quantidade">
    <th *matHeaderCellDef mat-header-cell> Quantidade</th>
    <td *matCellDef="let element" mat-cell> {{ element.quantidade }}</td>
  </ng-container>
  <ng-container matColumnDef="precoUnit">
    <th *matHeaderCellDef mat-header-cell> Preço Unitário</th>
    <td *matCellDef="let element" mat-cell> R${{ parseFloat(element.produto.preco).toFixed(2) }}</td>
  </ng-container>
  <ng-container matColumnDef="precoTotal">
    <th *matHeaderCellDef mat-header-cell> Preço Total</th>
    <td *matCellDef="let element" mat-cell>
      R${{ (parseFloat(element.produto.preco) * element.quantidade).toFixed(2) }}
    </td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
<form [formGroup]="form">
  <div>
    <label>Cupom de Desconto</label>
    <input formControlName="codigoCupom">
  </div>
  <div>
    <label>Forma de Pagamento</label>
    <select formControlName="formaPagamento">
      <option selected [value]="FormaPagamento.PIX">Pix</option>
      <option [value]="FormaPagamento.DINHEIRO">Dinheiro</option>
      <option [value]="FormaPagamento.CARTAO">Cartão</option>
    </select>
  </div>
  <div>
    <label>Endereço para Entrega</label>
    <select formControlName="idEndereco">
      @for(endereco of enderecos; track endereco; let idx = $index){
        <option [ngValue]="endereco.id" >
          {{endereco.logradouro}}, {{endereco.bairro}}, {{endereco.cidade}}, {{endereco.cep}}
        </option>
      }
    </select>
  </div>
  <button mat-flat-button (click)="fazerPedido()">
    Finalizar Pedido
  </button>
</form>
