<app-header></app-header>
<div class="content-container">
  <div class="sacola-container">
    <h1>Sacola de Compras</h1>
    <table [dataSource]="sacolaService.getSacola()" mat-table>
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element">
          {{ element.produto.nome }}
          {{ isPizza(element.produto) ? formatTamanhoPizza(element.produto.tamanhoPizza) : formatarMl(element.produto.ml) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <div class="quant">
            <button mat-icon-button (click)="sacolaService.increment(i)"><mat-icon>keyboard_arrow_up</mat-icon></button>
            <span>{{ element.quantidade }}</span>
            <button mat-icon-button (click)="sacolaService.decrement(i)"><mat-icon>keyboard_arrow_down</mat-icon></button>
          </div>

        </td>
      </ng-container>

      <ng-container matColumnDef="precoUnit">
        <th mat-header-cell *matHeaderCellDef> Preço Unitário </th>
        <td mat-cell *matCellDef="let element"> R${{ parseFloat(element.produto.preco).toFixed(2) }} </td>
      </ng-container>

      <ng-container matColumnDef="precoTotal">
        <th mat-header-cell *matHeaderCellDef> Preço Total </th>
        <td mat-cell *matCellDef="let element"> R${{ (parseFloat(element.produto.preco) * element.quantidade).toFixed(2) }} </td>
      </ng-container>

      <ng-container matColumnDef="acao">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let element; let i = index" mat-cell id="btn-delete">
          <button color="warn" mat-icon-button (click)="sacolaService.removeItem(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="form-container">
    <form [formGroup]="form" class="form">
      <div class="form-field">
        <label>Cupom de Desconto:</label>
        <input formControlName="codigoCupom">
      </div>
      <div class="form-field">
        <label>Forma de Pagamento:</label>
        <select formControlName="formaPagamento">
          <option selected [value]="FormaPagamento.PIX">Pix</option>
          <option [value]="FormaPagamento.DINHEIRO">Dinheiro</option>
          <option [value]="FormaPagamento.CARTAO">Cartão</option>
        </select>
      </div>
      <div class="form-field">
        <label>Endereço para Entrega:</label>
        <select formControlName="idEndereco">
          @for(endereco of enderecos; track endereco; let idx = $index){
            <option [ngValue]="endereco.id" >
              {{endereco.logradouro}}, {{endereco.bairro}}, {{endereco.cidade}}, {{endereco.cep}}
            </option>
          }
        </select>
      </div>
      <button mat-flat-button color="warn" (click)="fazerPedido()">
        Finalizar Pedido
      </button>
    </form>
  </div>
</div>
<app-footer></app-footer>
