app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 1000;
}

.content-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.sacola-container {
  width: 60%;
  margin-right: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  margin-bottom: 20px;
  background: #5e5959;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-header-cell, mat-cell {
  padding: 16px;
}

.form-container {
  margin-top: 80px;
  width: 35%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
}

.mat-mdc-header-cell{
  background-color: white !important;
  color: black;
  border-bottom: 1px solid black !important;
  border-right: 1px solid black;
  text-align: center;
  font-weight: bold;
}
.mat-mdc-cell{
  background-color: white !important;
  color: black;
  border-right: 1px solid black;
  border-bottom: 1px solid black !important;
  text-align: center;
}

.mat-mdc-table {
  border: 1px solid black !important;
  border-bottom-width: 0 !important;
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.form-field{
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-content: center;
  justify-content: flex-start;
}

.quant {
  display: flex;
  flex-direction: column;
  align-items: center;
}
