#icon{
  color: #FFD700;
}
.cabecalho{
  align-items: center;
  text-align: center;
  margin-top: 1em;
}
.full-width-input{
  align-items: center;
  display: grid;
}
.titulo{
  color: white;
  font-family: Bahnschrift, serif;
}
mat-card-actions{
  justify-content: space-around;
}
