.mat-elevation-z8 {
  width: 85%;
}
.toolbar-title{
  font-family: "Zeyada", cursive;
  font-size: 30px;
  flex: 1;
  text-align: center;
}
.flex-container{
  display: flex;
  align-items: center;
  width: 100%;
}
#logo{
  width: 47px;
  margin-left: 15px;
}

.example-sidenav-content {
  align-items: center;
  justify-content: center;
}

.example-container{
  height: 100%;
}

.example-sidenav {
  width: 190px;
  background: #f44336 linear-gradient(to bottom, #f44336, #563434);
  display: grid;
  text-align: center;
  justify-content: center;
}

.example-sidenav a{
  font-size: 16px;
  margin-top: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  display: flex;
}

#txt-usuario{
  margin-top: 3rem;
}

#btn-logout{
  margin-top: 12px;
}

.btn{
  background-color: #1c6909;
  color: white;
}

#header {
  background-color: #f44336;
}

#account {
  width: 100%;
  font-family: "Zeyada", cursive;
  font-size: 18px;
  margin-top: 90px;
  display: flex;
  align-content: center;
  align-items: center;
}

#account-icon {
  font-size: 24px;
  margin-right: 5px;
}
