<mat-toolbar id="header">
  <div class="flex-container">
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon fontIcon="list"></mat-icon>
    </button>
    <img alt="Logo" id="logo" src="../../../assets/logo.png">
    <span class="toolbar-title">{{title}}</span>
    <button (click)="openDialogCreate()" class="btn" color="accent" mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container autosize class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <a href="http://localhost:4200/usuarios" mat-button>
      <mat-icon>people</mat-icon>
      Usuários</a>
    <a href="http://localhost:4200/contas-cliente" mat-button>
      <mat-icon>people</mat-icon>
      Clientes</a>
    <a href="http://localhost:4200/contas-funcionario" mat-button>
      <mat-icon>people</mat-icon>
      Colaboradores</a>
    <a href="http://localhost:4200/cupons" mat-button>
      <mat-icon>local_atm</mat-icon>
      Cupons</a>
    <a href="http://localhost:4200/pizzas" mat-button>
      <mat-icon>local_pizza</mat-icon>
      Pizzas</a>
    <a href="http://localhost:4200/bebidas" mat-button>
      <mat-icon>local_bar</mat-icon>
      Bebidas</a>
    <a href="http://localhost:4200/ingredientes" mat-button>
      <mat-icon>restaurant_menu</mat-icon>
      Ingredientes</a>
    <a mat-icon-button id="account" (click)="edit()">
      <mat-icon id="account-icon">account_circle</mat-icon>
      {{usuarioLogado?.nome}}</a>
    <button (click)="logout()" class="btn" id="btn-logout" mat-fab>
      <mat-icon>logout</mat-icon>
    </button>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
