/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-header-cell{
  background-color: white !important;
  color: black;
  border-bottom: 1px solid black !important;
  border-right: 1px solid black;
  text-align: center;
  font-weight: bold;
}
.mat-mdc-cell{
  background-color: white !important;
  color: black;
  border-right: 1px solid black;
  border-bottom: 1px solid black !important;
  text-align: center;
}

.mat-mdc-table {
  border: 1px solid black !important;
  border-bottom-width: 0 !important;
}

.mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #f44336 !important;
}
