<div class="cabecalho">
  <img src="assets/logo.png" id="img-logo" alt="Logo Pizzaria" height="64" width="64">
  <h2 class="titulo">Colaborador</h2>
</div>

<div class="form-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Id Usuário</mat-label>
          <input matInput type="text" formControlName="idUsuario">
          <mat-error *ngIf="formGroup.get('idUsuario')
                                   && formGroup.get('idUsuario')?.invalid
                                   && formGroup.get('idUsuario')?.touched">
            O id do Usuário é obrigatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tipo de Acesso</mat-label>
          <mat-select formControlName="tipoAcesso">
            @for (tipoAcesso of Object.values(NivelAcesso); track tipoAcesso) {
              <mat-option [value]="tipoAcesso">{{tipoAcesso}}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="formGroup.get('tipoAcesso')
                                   && formGroup.get('tipoAcesso')?.invalid
                                   && formGroup.get('tipoAcesso')?.touched">
            O tipo de acesso é obrigatorio.
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              color="warn"
              (click)="save()"
              [disabled]="formGroup.invalid">
        Salvar
      </button>
      <button mat-raised-button
              (click)="dialogRef.close()">
        Cancelar
      </button>

    </mat-card-actions>
  </mat-card>
</div>
