<body>
<div class="container" id="container">
  <div class="form-container sign-up">
    <form [formGroup]="formGroupCadastro">
      <img src="assets/logo.png" class="logo">
      <h1>Cadastro</h1>
      <span>Insira as seguintes informações para criar uma conta</span>
      <input type="text" placeholder="Nome Completo" formControlName="nome">
      <input type="text" placeholder="CPF" formControlName="cpf">
      <input type="date" placeholder="Data de Nascimento" formControlName="nascimento">
      <input type="email" placeholder="Email" formControlName="email">
      <input type="password" placeholder="Senha" formControlName="senha">
      <button (click)="cadastrar()">Cadastrar</button>
    </form>
  </div>
  <div class="form-container sign-in">
    <form [formGroup]="formGroupLogin" class="flex-container">
      <img src="assets/logo.png" class="logo">
      <h1>Login</h1>
      <input type="email" placeholder="Email" formControlName="email">
      <input type="password" placeholder="Senha" formControlName="senha">
      <a href="/login">Esqueceu a senha?</a>
      <button (click)="login()">Entrar</button>
    </form>
  </div>
  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1>Bem vindo de volta!</h1>
        <p>Já tem conta?</p>
        <button class="hidden" id="login">Login</button>
      </div>
      <div class="toggle-panel toggle-right">
        <h1>Olá!</h1>
        <p>Ainda não tem conta?</p>
        <button class="hidden" id="cadastrar">Cadastre-se</button>
      </div>
    </div>
  </div>
</div>
</body>
