<main>
    <div class="overlay">
      <div class="container">
        <img src="assets/pizza-home.png" alt="Pizza" class="pizza" #pizzaImage>
        <div class="content">
          <h1>Sabor incomparável, descanso garantido</h1>
          <p>Experimente a melhor pizza da região</p>
          <button class="pushable btn">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front">
        Ver Cardápio
      </span>
          </button>
        </div>
      </div>
    </div>
</main>
