<div class="all-cards">
  @for (pedido of pedidos; track pedido){
    <mat-card class="pedido-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Pedido #{{pedido.id}}</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <div class="description-pedido">
        <mat-card-content class="itens-pedido">
        @for(item of getItems(pedido.items); track item){
            <p>{{item.quantidade}}x {{item.produto.nome}} {{ isPizza(item.produto) ? formatTamanhoPizza(item.produto.tamanhoPizza) : formatarMl(getBebida(item.produto).ml)}}</p>
        }
        </mat-card-content>

        <mat-card-content class="endereco-pedido">
          <p>
            {{pedido.endereco!.logradouro}}, {{pedido.endereco!.bairro}}, {{pedido.endereco!.cidade}}, {{pedido.endereco!.cep}}
          </p>
        </mat-card-content>
      </div>
      <mat-card-footer class="buttons-card">
        <button mat-flat-button class="btn btn-cancelar" (click)="setStatus(pedido.id!, Status.CANCELADO)">
          Cancelar
        </button>
        <button mat-flat-button class="btn btn-preparo" (click)="setStatus(pedido.id!, Status.EM_PREPARO)">
          Em preparo
        </button>
        <button mat-flat-button class="btn btn-entrega" (click)="setStatus(pedido.id!, Status.EM_ENTREGA)">
          Em entrega
        </button>
        <button mat-flat-button class="btn-entregue" (click)="setStatus(pedido.id!, Status.ENTREGUE)">
          Entregue
        </button>
      </mat-card-footer>
    </mat-card>
  }
</div>

